{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <section class="categories-section" style="padding: 50px">
        <div class="categories-container">
            <h1 class="text-center mb-4">Nos catégories de produits</h1>
            <div class="row gx-4 gy-4">
                {% for category in categories %}
                <div class="col-lg-4 col-md-6">
                    <a href="{{ path('app_category_show', {id: category.id}) }}" class="category-card d-block text-decoration-none">
                        <div class="card-content text-center">
                            <span class="category-title">{{ category.nameCategory }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
