{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="product-container my-5">
        <h1 class="text-center mb-4">Nos produits conseils du mois</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="product-card">
                    <img src="{{ asset('') }}" alt="">
                    <h5>Titre</h5>
                    <p>Description...</p>
                    <p class="price">-,--€</p>
                    <button class="btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
