/* --------------- Variables Globales --------------- */

:root {
    /* Colors */
    --primary-color: #124660;
    --secondary-color: #1B9476;
    --third-color: #8BD59E;
    --primary-text-color: #C7DBC2;
    --secondary-text-color: #F4EBD6;

    /* Fonts */
    --font-primary: 'Rubik', sans-serif;
    --font-secondary: 'Arsenal', sans-serif;
    --font-body: 'Palanquin', sans-serif;
}

/* --------------- Font management --------------- */
h1{
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 700;

    color: var(--primary-color);
}

h2 {
    font-family: var(--font-secondary);
    font-size: 32px;
    font-weight: 500;
    color: var(--primary-color);
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* --------------- Buttons --------------- */

.btn-custom {
    background-color: var(--third-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    transform: scale(1.05);
}

#btn-custom-secondary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    transform: scale(1.05);
}

/* --------------- Navbar --------------- */

.navbar-custom {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.navbar-brand::after{
    background-color: var(--primary-color);
}

.navbar-brand:hover::after{
    background-color: var(--primary-color);
}

.navbar-brand img {
    height: auto;
    width: auto;

    max-height: 100px;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar-collapse {
    flex: 0;
}

.search-bar {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);

    border-radius: 25px;
    width: 100%;
    max-width: 600px;

    position: relative;
}

.search-input {
    background-color: var(--primary-color);
    border: none;

    width: 100%;
    border-radius: 25px;
    padding: 5px 15px;

    position: relative;

    color: var(--secondary-text-color);
}

.search-bar-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-text-color);
    font-size: 16px;

    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

.nav-link {
    color: var(--secondary-text-color);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--third-color);
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .btn {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-weight: bold;

    border: none;
    border-radius: 20px;
    padding: 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.action-buttons .btn::after{
    background-color: var(--primary-color);
}

.action-buttons .btn:hover::after{
    background-color: var(--primary-color);
}

.navbar-toggler {
    background-color: var(--primary-color);
    border-color: var(--secondary-color) ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%231B9476' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* --------------- Banner --------------- */

.banner {
    background-color: var(--third-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

/* --------------- Products --------------- */

.product-container {
    width: 100%;
    padding: 0 15px;
}

.row{
    justify-content: center;
}

.product-card {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 10px;

    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 15px;
}

.product-card h5 {
    color: var(--secondary-color);
    font-size: 20px;
    margin-bottom: 0;
}

.product-card .price {
    font-size: 20px;
    font-weight: bold;
    color: var(--third-color);
    margin-top: 10px;
}

.product-card .btn {
    background-color: var(--third-color);
    color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/* --------------- Show Product --------------- */

.py-5{
    padding: 0 50px;
}

.details-container {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
}

.details-container img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.product-title {
    color: var(--secondary-color);
}

.fs-5 span {
    font-size: 1.5rem;
    font-weight: 700;
}

.price {
    color: var(--third-color);
}

.product-description {
    color: var(--secondary-text-color);
}

.brand{
    display: flex;
    gap: 10px;
}

.brand p{
    width: fit-content;

    border: 3px solid var(--secondary-color);
    border-radius: 15px;

    padding: 5px 20px;

    font-weight: bold;
    color: var(--secondary-color);
}

.btn-outline-success {
    border: 3px solid var(--secondary-color);
    border-radius: 20px;

    padding: 8px 20px;
    font-weight: bold;

    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.btn-outline-success:hover {
    border: 3px solid var(--third-color);
    background-color: var(--third-color);
    color: var(--primary-color);
}

/* -- Similary Products -- */

h4{
    color: var(--secondary-color);
    font-weight: bold;
}

.similar-product-card {
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    margin-bottom: 20px;
    height: 400px;
}

.card-body {
    padding: 15px;
}

.card-title {
    color: var(--primary-color);
}

.card-text {
    height: 50px;
    overflow: hidden;
    color: var(--secondary-text-color);
}

.similar-product-card .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;

    width: auto;
    height: auto;
    max-height: 200px;
    object-fit: contain;

    padding: 5px;
    background-color: var(--primary-color);
}

.similar-product-card .btn {
    padding: 5px 15px;
    font-size: 14px;
}

/* --------------- List Categories --------------- */

.category-card {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    padding: 30px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card:hover {
    transform: scale(1.05);
}

.card-content {
    text-align: center;
}

.category-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: bold;
}

/* --------------- Pagination --------------- */

.pagination .page-link {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin: 0 3px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.pagination .page-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

/* --------------- Footer --------------- */

.footer {
    background-color: var(--primary-color);
}

.footer-divider {
    border-color: var(--secondary-color);
    margin: 1rem 0;
}

.footer-copyright {
    font-size: 0.875rem;
}

/* --------------- Form Card --------------- */

.form-card {
    max-width: 600px;

    background-color: var(--primary-color);
    color: var(--secondary-text-color);

    border-radius: 15px;
    border: 3px solid var(--secondary-color);
}

.form-title {
    color: var(--secondary-color);
}

.form-control {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);

    border: 2px solid var(--secondary-color);
    border-radius: 8px;
}

.form-control::placeholder {
    color: var(--primary-text-color);
}

.form-control:focus {
    background-color: var(--primary-text-color);
}

.form_inline {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}

/* --------------- Media Queries --------------- */

@media screen and (max-width: 992px) {
    .container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .navbar-collapse{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .container #action-buttons-out {
        display: none;
    }


    #link_nav{
        width: 100%;
        text-align: center;
    }

    .footer-links{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 993px) {
    .navbar-collapse #action-buttons-in {
        display: none;
    }

    .action-buttons {
        flex-direction: column;
    }
}