{% extends 'base.html.twig' %}
{% block title %}F.A.Q{% endblock %}

{% block body %}
<div class="product-container my-5">
    <h1 class="text-center mb-4">F.A.Q</h1>
    <p class="text-center text-black">Après avoir reçu de nombreux retours de votre part, nous avons élaboré cette FAQ avec les questions qui reviennent le plus  !</p>
    <p class="text-center text-black">Si votre question n'est pas présente, merci de contacter le service par le biais de cette <a href="">page</a> !</p>
    <div class="row gx-4 gy-4">
        <div class="col-lg-4 col-md-6">
                <div class="card-content text-center">
                    <div class="faq-card d-block text-decoration-none">
                        <div class="faq-title">Quels médicaments sont disponibles sans ordonnance dans votre pharmacie ?</div>
                        <p class="faq-answer mt-2">Dans notre pharmacie, vous trouverez une large gamme de médicaments disponibles sans ordonnance, notamment des traitements contre la douleur, les rhumes, les allergies et les troubles digestifs légers. Pour toute question, nos pharmaciens sont à votre disposition pour vous conseiller et assurer une utilisation adaptée à vos besoins. </p>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Puis-je commander des médicaments en ligne et les récupérer en pharmacie ?</div>
                    <p class="faq-answer mt-2">Oui, nous proposons un service de commande en ligne pour simplifier vos achats. Vous pouvez sélectionner vos produits sur notre site, effectuer la commande, et choisir l’option de retrait en pharmacie. Ce service garantit rapidité et sécurité dans la gestion de vos traitements. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Comment consulter la notice d’un médicament que je veux acheter ?</div>
                    <p class="faq-answer mt-2">Pour chaque médicament disponible sur notre site, vous trouverez une fiche détaillée contenant la notice officielle. Vous pouvez la consulter en ligne avant l’achat ou demander une version imprimée lors du retrait en pharmacie. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Proposez-vous des tests de dépistage (Covid-19, grippe, diabète, etc.) en pharmacie ?</div>
                    <p class="faq-answer mt-2">Oui, notre pharmacie propose des tests de dépistage pour plusieurs pathologies, notamment le Covid-19, la grippe et le diabète. Nos équipes sont formées pour effectuer ces tests dans un environnement sécurisé. Contactez-nous pour connaître les modalités et prendre rendez-vous. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Est-il possible de prendre rendez-vous pour une vaccination ?</div>
                    <p class="faq-answer mt-2">Absolument, nous offrons un service de vaccination pour plusieurs vaccins, tels que ceux contre la grippe ou le Covid-19. Vous pouvez prendre rendez-vous directement en ligne ou en nous contactant par téléphone. Nos pharmaciens vaccinateurs sont là pour vous accueillir. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Quels types de produits de parapharmacie (cosmétiques, compléments alimentaires) proposez-vous ?</div>
                    <p class="faq-answer mt-2">Notre parapharmacie propose une large gamme de produits, incluant des soins pour la peau, des produits capillaires, des compléments alimentaires, ainsi que des solutions naturelles pour le bien-être. Nous sélectionnons des marques de confiance pour répondre à vos attentes en matière de qualité et d’efficacité. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Y a-t-il des promotions ou des réductions sur certains produits ?</div>
                    <p class="faq-answer mt-2">Oui, nous mettons régulièrement en place des promotions sur une sélection de produits. Vous pouvez consulter la rubrique "Promotions" sur notre site ou vous inscrire à notre newsletter pour rester informé des offres en cours. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Comment savoir si ma prescription médicale est bien prise en charge ?</div>
                    <p class="faq-answer mt-2">Pour vérifier la prise en charge de votre prescription, il suffit de la transmettre à notre pharmacie. Nos équipes analyseront votre ordonnance et vérifieront les remboursements éventuels avec votre mutuelle ou votre assurance maladie. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card-content text-center">
                <div class="faq-card d-block text-decoration-none">
                    <div class="faq-title">Quels sont vos horaires d'ouverture et y a-t-il un service de garde ?</div>
                    <p class="faq-answer mt-2">Notre pharmacie est ouverte du lundi au samedi de 8h30 à 19h30. En dehors de ces horaires, nous assurons un service de garde selon les réglementations locales. Pour connaître les détails du service de garde, consultez notre site ou contactez-nous par téléphone. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}