<div class="construction-container d-flex flex-column justify-content-center align-items-center">
    <img src="{{ asset('images/construction.png') }}" alt="Page en construction" class="mb-4" style="max-width: 200px;">
    <h1 style="color: var(--secondary-color)">Page en construction</h1>
</div>