{% extends 'base.html.twig' %}

{% block title %}Mes commandes!{% endblock %}

{% block body %}
    <h1>Mon historique de commande !</h1>

    <ul class="list-group list-group-flush">
    {% if orders is not empty %}
        {% for order in orders %}

            <li class="list-group-item">
                <div class="list-group-horizontal-lg d-flex align-items-center" style="flex: auto; gap: 20px;">
                    <a class="text-decoration-underline text-black" href="#"> <span class="order.name"> {{ order.id }}</span></a>


                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="text-center mt-4">
            <p class="text-black-50">Vous n'avez pas de commande !</p>
        </div>
    {% endif %}
{% endblock %}
